/* FOOTER */

#footer {
background-color: #66C;
padding: 10px;
border: 1px solid #000;
margin-top: 20px;
text-align: center;

/* REVISED */
margin-top:0;
text-align:left;
padding-left:30px;
background:yellow;
border:0;
background-color: #FFF;
padding-left:62px;

/**/
background-color:#75b6d2;
border-top:5px solid #71d6f2;

}

/* USE WHEN MORE THAN ONE LINK IN FOOTER
.footer_content{
	display: block;
	text-align:left;
}
.footer_content li {
	display: inline;
	padding: 0 8px;
	text-align: center;
	border-left: 1px solid #36C;
}

.footer_content li:first-child{border-left: 0px; padding-left:0;}
.footer_content li span {padding-left: .5em;}
*/