body {
 font:76% normal verdana,arial,tahoma;
}

h1, h2 {
 font-size:1em;
}

#fooObject {
 position:absolute;
 left:30px;
 top:40em;
 background:transparent;
//background:#99ccff;
 line-height:2em;
 border:1px solid #003366;
 white-space:nowrap;
 padding:0.5em;
}


#timelineObject {
 position:absolute;
 left:40px;
 top:41em;
}
